
body{
	margin:  0;
	padding: 0;
	height: 100vh;
}
#particles-js{
	height: 100%;
	width: 100%;
    position: fixed;
	background: #1E90F3;
	z-index: -10;
	top: 0;
    left: 0
}

.particles {

  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}